<footer class="d-flex flex-column align-items-center">
    <h6>Site is Work In Progress</h6>
    <h6>Troy Pierce Portfolio</h6>
    <div class="d-flex border-top flex-row flex-wrap footer-link">
        <a class="nav-item nav-link" href="javascript:void(0);" onclick="displayFrame('https://www.iubenda.com/privacy-policy/69489316/legal');">Privacy Policy</a>
        <a class="nav-item nav-link" href="javascript:void(0);" onclick="contact();">Contact</a>
        <a class="nav-item nav-link" href="/information">More Information</a>
    </div>
</footer>