<link rel="icon" href="/static/images/ico.png">
<title>Hire Me</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="description" content="Portfolio of Troy Pierce">
<meta name="keywords" content="Troy Pierce, Portfolio, Resume, CV">
<meta name="author" content="Troy Pierce">
<meta property="og:title" content="Hire Me">
<meta property="og:description" content="Portfolio of Troy Pierce">
<meta property="og:type" content="image">
<meta property="og:url" content="https://hireme.cfd">
<meta property="og:image" content="/static/images/portrait.jpg">
<meta name="robots" content="noindex">
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">