{% extends 'layouts/Bbase.html' %}

{% block includes %}
<link href="/static/styles/info.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block root %}
<div class="d-flex flex-column align-items-center">
    <h3>My name is Troy Pierce</h3>
    <div class="text-container text-scale">
        <span class="text-muted">
            My main interest and goal is to achieve a sustainable career in Software or Web Development.<br>
            I strive to always increase my knowledge and skills in these fields while simultaneously ensuring high-quality work.<br>
            Currently studying to earn my CompTIA A+ and Network+ Certifications.
        </span>
        <span class="text-muted">
            I am constantly trying to learn new technologies, skills, and improve my knowledge and proficiency in the tools that I already use.<br>
            If you have any recommendations, pointers, or believe that knowledge in a certain tool, library, or software would benefit me, feel free to contact me and let me know so that I may further my knowledge in the field!
        </span>
        <span class="text-muted">
            I created this website to act as an extension to my Résumé, to show my previous projects and experience while also providing and idea of my current state of knowledge in web development and my ability to create clean working websites. 
        </span>
    </div>
</div>
{% endblock %}
