.pcard{
    background-color: rgba(0,0,0,0.2);
    border: rgba(255,255,255,0.15) solid 2px;
    border-radius: 1em;
    width: 30em;
    padding: 0.5em;
    color: rgba(255,255,255,0.85);
}

.pcard .pcard-header{
    justify-content: space-between;
}

.pcard .pcard-tags{
    justify-content: space-evenly;
}

.pcard .ico-text{
    margin-right: 0.5em;
}

.card-container{
    width: 100%;
    gap: 1em;
    justify-content: center;
}